img {width:100%; height:auto} 

ul {font-style:none; list-style: none; }
li {display:inline;
gap:15px;
padding:10px;}

.header {display:flex;
    flex-direction:column;
flex-wrap:wrap;
background-color:#1F2937;
color:white;


}

.tippytop {display:flex;
justify-content:center;
gap:480px;
font-size:18px;
color:#E5E7EB

}

.first-containers {display:flex;
justify-content:center;
align-items:center;
height:200px;
margin-bottom:50px

    

}

.box{display:flex;
flex-direction:column;
align-items:left;
max-width:500px;
flex-shrink:0


}

.box2 {display:flex; 
    background-color:darkgray; 
    justify-content: center;
    align-items:center; 
    height:200px;
    width:500px
    
}


.logo {display:flex; max-width:100px; max-height:50px}


button {max-width:80px;
background-color: #3882F6;
color:white;
font-weight:bold;
border-radius: 8px;}

h2 {font-weight:bolder;
    text-align:center; margin-top:30px}

.info {display:flex; justify-content:center; gap:60px}

.bigsquare {display:flex; flex-direction:column;
align-items:center;
justify-content:center;
width:150px;
text-align:center;
margin-top:20px

}

.squares {display:flex;

border-radius: 8px;
border:3px solid blue;

width:150px;
height:150px;}


.quote {background-color:#E5E7EB;display:flex;
flex-direction:column;
align-items:center


}

.thequote{font-size:32px;
    font-style:italic;
    font-weight:100;
    color:#1F2937;
    max-width:600px;
    margin-right:200px;
    margin-left:200px;
    display:flex;
    justify-content:center
    
}

.thor {margin-right:200px;
margin-left:200px;
padding-left:350px;
font-weight:800}


.bottom {display:flex;
justify-content:center;
margin-top:50px;
margin-bottom:50px}

.call {background-color:#3882F6;
display:flex;
width:100%;
height:100px;
color:white;
border-radius:8px;
margin-left:200px;
margin-right:200px;
justify-content:space-evenly;
align-items:center
}

.left{
    display:flex;
    flex-direction:column;
   

}
h4 {margin-bottom:-10px}

.right {border: 2px solid white;
border-radius:8px;
background-color:lightskyblue;
}